* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
}

/* 헤더 */

.header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px #b8b8b8 solid;
}

.nav {
    width: 1400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    height: 100px;
    display: flex;
    align-items: center;
}


.logo img {
    width: 80px;
    height: 80px;
}

.nav-A {
    position: relative;
    width: 400px;
    display: flex;
    z-index: 1;
}

.nav-A > ul {
    position: absolute;
    top: -25px;
    left: 0;
    width: 400px;
    display: flex;
    justify-content: center;
}

.nav-A > ul > li {
    width: 100px;
}

.nav-A > ul > li > a {
    width: 100px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    transition: .2s ease;
    cursor: pointer;
    font-weight: bold;
}

.nav-A > ul > li:hover > a {
    background-color: #344E41;
    color: white;
}

.drop {
    width: 100px;
    height: 0;
    overflow: hidden;
    background-color: white;
    transition: all .3s ease;
}

.nav-A > ul:hover > li > .drop {
    height: 100px;
}

.drop > li {
    width: 100px;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all .2s ease;
}

.drop > li:hover { background-color: #55806a; }

.drop > li:hover > a { color: white; }

.nav-B {
    width: 330px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-B > ul {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-B > ul > li {
    width: 100px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
}

.nav-B > ul > li:hover {
    background-color: #344E41;
    color: white;
}

.nav-B > ul > li:hover > a { color: white; }

.nav-B > div {
    width: 120px;
    text-align: center;
    color: grey;
    cursor: pointer;
}

.nav-B > div:hover {
    font-weight: bold;
}

/* 비디오 */

.video-section {
    margin-top: 200px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.video-container {
    position: relative;
}

.video-container, video {
    width: 1400px;
}

.controls-container {
    position: absolute;
    top: 285px;
    left: 0px;
}

.controls > div,
.ctrl11 {
    height: 40px;
    margin: 5px;
    background-color: #8686869d;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    border: 2px solid #ccccccd8;
}

.ctrl11 { background-color: #a3b18aa8; }

.hidden {
    opacity: 0;
    pointer-events: none;
}

/* 전체상품 */

.product-section {
    margin-top: 200px;
    width: 100%;
    height: 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-box {
    width: 1400px;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block {
    width: 20px;
    height: 130px;
    background-color: #344E41;
}

.tbox {
    margin-left: 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 25px;
    color: #777;
}

.etitle {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #a3b18a;
}

.product-box {
    margin-top: 100px;
    width: 1400px;
    height: 1700px;
    display: flex;
    flex-direction: column;
}

.ptitles {
    display: flex;
    flex-direction: row;
    width: 1400px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ptitle {
    width: 250px;
    color: #666;
}

.pbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    height: 1800px;
}

.box {
    width: 250px;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pcard {
    width: 250px;
    height: 300px;
    border: rgb(189, 189, 189) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.pro-img {
    width: 250px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 70px;
}

.pro-img > div {
    position: absolute;
    top: 15px;
    left: 155px;
    background-color: #344e4173;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;

}

.pro-img img {
    width: 250px;
    height: 270px;
    border-bottom-left-radius: 70px;
}

.pro-desc {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pro-name {
    width: 100%;
}

.pro-price {
    width: 100%;
    color: #666;
}

.pro-btn {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.btn {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #a3b18a;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #879273;
}

/* 드레그엔드드롭 */

.modal-box {
    width: 1200px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.modal-con {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #97979767;
    position: fixed;
    top: 0;
    display: none;
}

.modal-header {
    width: 100%;
    height: 100px;
    background-color: #a3b18a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    font-weight: 500;
    text-shadow: 2px 2px 5px #00000050;
}

.user-id {
    color: white;
}

.modal-header > div:nth-child(2) {
    color: white;
}

.modal-header > .close-modal {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(255, 74, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.modal-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.modal-nav > div {
    width: 130px;
    height: 45px;
    border: 2px solid #e4e4e4b4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.modal-main > div {
    width: 530px;
    height: 440px;
    border: 1px solid #d6d6d6be;
    border-radius: 5px;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-main > div >.item > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-bottom-left-radius: 50px;
}

.modal-main > div > .item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: rgb(189, 189, 189) solid 1px;
    border-radius: 5px;
    overflow: hidden;
    height: 220px;
}

.modal-main > div > .item > div {
    width: 150px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 0 2px;
}

.modal-main div > .item > span {
    width: 150px;
}

.item > input {
    width: 40px;
}

.active {
    background-color: #a3b18a;
    color: #fff;
}

.modal-footer {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-around;
}

.user-buy {
    width: 140px;
    height: 45px;
    border-radius: 10px;
    background-color: #a3b18a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.user-buy:hover {
    background-color: #879273;
}

.dragAnddrop {
    display: flex;
    justify-content: center;
}

.open-modal {
    width: 230px;
    height: 70px;
    background-color: #a3b18a;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.open-modal:hover {
    background-color: #879273;
}

.buy-alert {
    width: 500px;
    height: 80px;
    border: 2px solid #a3b18a;
    border-radius: 10px;
    background-color: #fff;
    position: fixed;
    top: 130px;
    left: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    box-shadow: 0px 4px 6px #859963;
    display: none;
    z-index: 1;
}

/* 푸터 */

.footer-section {
    margin-top: -40px;
    width: 100%;
    height: 400px;
    background-color: #a3b18a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ftop {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    height: 100px;
    align-items: center;
}

.ftop img {
    width: 100px;
    height: 100px;
}

.ftop p {
    font-size: 20px;
}

.font {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.font i { 
    cursor: pointer;
    color: #636363; 
    transition: all .3s ease;
}

.fmiddle {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-bottom: 20px;
    align-items: center;
}

.fmiddle p {
    font-size: 18px;
    display: flex;
}

.font > i:nth-child(1):hover { color: black; }
.font > i:nth-child(2):hover { color: rgb(243, 98, 45); }
.font > i:nth-child(3):hover { color: red; }
.font > i:nth-child(4):hover { color: skyblue; }
.font > i:nth-child(5):hover { color: darkblue; }